<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block nav %}
    {% endblock %}
      <div class="container">
          <div class="content">
            <h3>About us!</h3>
          </div>
      </div>

      <footer class="block has-background-light">
        <div class="container">
            Some kind of footer
        </div>
      </footer>
</body>
</html>